.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-cerulean-blue;

  background-color: $color-default-white;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;
  cursor: pointer;

  transition: opacity $trans-default;

  &--on-dark {
    color: $color-default-white;
    background-color: $color-transparent;
    border: 1px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
