.feedback__content {
  position: relative;
}

.feedback__img {
  width: calc(100% - 200px);
  height: 100%;
  position: absolute;
  // z-index: 1;

  @include vp-1199 {
    width: calc(100% - 90px);
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.feedback__form {
  position: relative;
  z-index: 2;
  padding: 56px 74px 51px;
  max-width: 498px;
  background-color: $color-cerulean-blue;
  border-radius: 16px;
  color: $color-default-white;

  @include vp-767 {
    padding: 56px 15px 51px;
  }

  h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
  }

  p {
    margin: 0;
    padding-bottom: 17px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }
}

.feedback__textarea textarea {
  height: 98px;
}

.feedback__button {
  width: 100%;
}
